*{
    margin: 0;
    padding: 0;
}

button{
    display: block;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin: 20px auto;
    padding: 10px  30px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid black;
}

ul{
    padding-left: 50%;
    font-size: 14px;
    font-family: sans-serif;
}

li.big{
    font-size: 20px;
}
